## Prediction

   #### I think that the Logistic Regression Model will do better then the Random Forest Classifier Model. The Random Forest Model works better with more categorical data and since this data set is made up of numeric data, I think the Logistic Regression will do better.

In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier

In [2]:
# Import the data
file = Path("Resources/lending_data.csv")

credit_df = pd.read_csv(file)

credit_df.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

In [3]:
# creating X_data
X = credit_df.drop(['loan_status'], axis =1)


X.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,10700.0,7.672,52800,0.431818,5,1,22800
1,8400.0,6.692,43600,0.311927,3,0,13600
2,9000.0,6.963,46100,0.349241,3,0,16100
3,10700.0,7.664,52700,0.430740,5,1,22700
4,10800.0,7.698,53000,0.433962,5,1,23000

In [4]:
# creating y_data
y= credit_df["loan_status"]

In [5]:
# Split the data into X_train, X_test, y_train, y_test
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [ ]:
#scaling the X data

#scaler = StandardScaler().fit(X_train)
#X_train_scaled = scaler.transform(X_train)
#X_test_scaled = scaler.transform(X_test)

In [6]:
# create a logistic regression model
from sklearn.linear_model import LogisticRegression

L_classifier = LogisticRegression()

L_classifier

LogisticRegression()

In [7]:
# Train a Logistic Regression model 
L_classifier.fit(X_train, y_train)

LogisticRegression()

In [8]:
#print the model score
print(f"Training Data Score: {L_classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {L_classifier.score(X_test, y_test)}")

Training Data Score: 0.9921240885954051
Testing Data Score: 0.9918489475856377

In [9]:
#Create the Random Forest Classifier
F_classifier = RandomForestClassifier(random_state=1)

F_classifier

RandomForestClassifier(random_state=1)

In [10]:
# Train a Random Forest Classifier model 
F_classifier.fit(X_train, y_train)

RandomForestClassifier(random_state=1)

In [11]:
#print the model score
print(f"Traing Data Score: {F_classifier.score(X_train, y_train)}")
print(f"Test Data Score: {F_classifier.score(X_test, y_test)}")

Traing Data Score: 0.9975409272252029
Test Data Score: 0.9914878250103177